@charset "gb2312";
/* CSS Document */
*
{
	margin:0;
	padding:0;
	border:0;
	text-decoration:none;
	list-style:none;
}

body
{
	background:url(../img/bg.jpg);;
	font-family:"微软雅黑";
	font-size:14px;
	color:#bd4601;
	overflow-x:hidden
}

a
{
	color:#bd4601;
}

a:hover
{
	color:#f96125;
}

.outBox
{
	position:relative;
	left:50%;
	margin-left:-995px;
	width:1990px;
}

/****************************菜单↓********************************/

.topBox
{
	width:1480px;
	height:106px;
	margin:auto;
	/*border:1px solid #F00;*/
}

.topBox img
{
	float:left
}

.menu
{
/*	border:1px solid #F00;*/
	font-size:20px;
	margin-top:60px;
	float:left
}

.menu ul
{
	/*border:1px solid #F00;*/
}

.menu ul li 
{
	float:left;
	margin-right:40px;
	display:block;
	width:110px;
	height:40px;
	line-height:40px;
	text-align:center;
}

.menu ul li a
{
	text-align:center;
	display:block;
}

.menu .caidan2 ul li
{
	display:block;
}

.menu ul li ul
{
	display:none;
	position:absolute;
	z-index:100
}

.menu ul li ul li
{
	font-size:16px;
	float:none;
}

.menu ul li ul li a
{
	display:block;
	background:#191003;

}

.menu ul li ul li a:hover
{
	color:#993200
}

.topBox a
{
	color:#cfcfcf;
}

.topBox a:hover
{
	color:#f96125;
}

.souSuoBox
{
	width:134px;
	height:26px;
	margin-top:64px;
	background-color:#bd4601;
	float:left
}

.souSuo
{
	border:1px solid #bd4601;
	margin-top:64px;
	height:24px;
	width:48px;
	color:#cfcfcf;
	text-align:center;
	line-height:24px;
	font-size:14px;
	float:left
}

/****************************幻灯↓********************************/


.huanDengBox
{
	position:relative
}

.xianShi
{
	/*border:1px solid #0f0;*/
	width:1990px;
	height:754px;
	position:relative;
	overflow:hidden;
}


.huaGui
{
	position:absolute;
	z-index:0;
	width:13930px
}

.huaGui div
{
	height:754px;
	float:left;
}






.jiantouz
{
	position:absolute;
	top:220px;
	left:70px;
	cursor:pointer
}

.jiantouy
{
	position:absolute;
	top:220px;
	right:70px;
	cursor:pointer
}

.small_huanDeng
{
	width:1420px;
	position:absolute;
	z-index:20;
	top:610px;
	left:300px
}

.small_huanDeng div
{
	border-bottom:2px solid #F60;
	height:119px;
	float:left;
	margin-right:20px;
	cursor:pointer
}

.small_huanDengBox
{
	background:#1a100b;
	width:1990px;
	height:169px;
	position:absolute;
	z-index:10;
	top:585px
}

.xinXi
{
	width:389px;
	height:184px;
	background:#1a100b;
	position:absolute;
	top:280px;
	left:300px
}

.xinXi1
{
	width:389px;
	height:184px;
	position:absolute;
	top:280px;
	left:300px
}


.p1
{
	margin-left:120px;
	line-height:110px;
	font-family:"Times New Roman", Times, serif;
	color:#cfcfcf;
}

.p2
{
	margin-left:40px;
	font-family:"宋体";
	color:#bd4601;
}

/***********************腰************************/

.yao
{
	width:1330px;
	height:2000px;
	padding-top:60px;
	margin:auto
}

/***********************新闻************************/
.news
{
	/*border:1px solid #0F0;*/
	padding:20px;
}

.news_1
{
	font-size:30px;
	line-height:60px;
	text-align:center;
	border-bottom:1px solid #bd4601;
}

.news_2
{
	margin-top:30px
}

.newsBox1
{
	width:295px;
	float:left;
	margin-right:13px;
	margin-left:13px;
	position:relative
}

.newsBox1 img
{
	margin-bottom:10px;
}

.news1
{
	font-size:18px;
	line-height:40px;
	color:#cfcfcf;
	font-family:"Times New Roman", Times, serif;
}

.news21,.news22,.news23,.news24
{
	font-size:20px;
	font-family:"微软雅黑";
}

.newsXiangXi1,.newsXiangXi2,.newsXiangXi3,.newsXiangXi4
{
	width:295px;
	height:290px;
	background:#000;
	position:absolute;
	top:0px;
	display:none
}

.newsXiangXi11,.newsXiangXi22,.newsXiangXi33,.newsXiangXi44
{
	width:235px;
	height:230px;
	padding:30px;
	line-height:26px;
	position:absolute;
	top:0px;
	display:none
}

/***********************音乐作品************************/
.zuo_Box
{
	float:left
}

.musicBox
{
	/*border:1px solid #0F0;*/
	padding:20px;
	width:880px;
}

.music_1
{
	font-size:30px;
	line-height:60px;
	border-bottom:1px solid #bd4601;
	padding-left:10px
}

.music_1 a
{
	font-size:18px;
	float:right;
	margin-right:20px
}

.music_21
{
	width:280px;
	height:640px;
	float:left;
	margin-right:20px;
	position:relative;
}

.music_22
{
	width:280px;
	height:640px;
	float:left;
	margin-right:20px;
	position:relative;
}

.music_23
{
	width:280px;
	height:640px;
	float:right;
	position:relative;
}

.mvBox1
{
	width:280px;
	height:280px;
	margin-top:40px;
}

.mvBox2
{
	border:1px solid #cfcfcf;
	width:280px;
	height:280px;
	line-height:280px;
	text-align:center;
	color:#cfcfcf;
	font-size:20px;
	margin-top:40px
}

.music_nr1
{
	border:1px solid #cfcfcf;
	color:#cfcfcf;
	line-height:23px;
	width:230px;
	height:230px;
	padding:25px;
	position:absolute;
	top:360px
}

.music_nr2
{
	border:1px solid #cfcfcf;
	color:#cfcfcf;
	line-height:23px;
	width:230px;
	height:230px;
	padding:25px;
	position:absolute;
	top:40px
}

.music_nr3
{
	border:1px solid #cfcfcf;
	color:#cfcfcf;
	line-height:23px;
	width:230px;
	height:230px;
	padding:25px;
	position:absolute;
	top:360px
}




/***********************影视************************/

.yingShi_Box
{
	padding:20px;
	width:880px;
}

.xiao_box
{
	margin-top:40px;
	color:#cfcfcf;
	line-height:25px
}

.yingZi
{
	width:365px;
	height:460px;
	padding:30px;
	background:#342925;
	float:left;
}

.yingZi img
{
	float:left;
	margin-bottom:20px
}

.gongZhu img
{
	float:left;
	margin-bottom:20px
}

.yingZi_jianJie1
{
	float:right;
	width:120px;
	padding:20px;
	line-height:32px;
	font-size:16px
}

.yingZi_jianJie1 .yz_p1
{
	color:#bd4601;
	font-size:25px;
	margin-bottom:5px;
	margin-top:10px
}

.yingZi_jianJie1 .yz_p2
{
	font-size:12px;
}

.yingZi_jianJie2
{
	font-size:13px;
}

.yingZi_jianJie2 a
{
	float:right;
	margin-right:8px
}

.gongZhu
{
	width:365px;
	height:460px;
	padding:30px;
	background:#342925;
	float:right
}


/***********************右框************************/

.you_box
{
	/*border:1px solid #cfcfcf;*/
	width:400px;
	float:right
}


/***********************专辑************************/

.zhuanJi_box
{
	margin-top:80px;
	padding:20px;
	background:#342925;
	height:600px
}

.zhuanJi_shang
{
	/*border:1px solid #a6a;*/
	height:140px;
	border-bottom:1px solid #cfcfcf;
	padding-bottom:20px
}

.zhuanJi_shang img
{
	float:left;
}

.zhuanJi_list
{
	border:1px solid #5E3826;
	height:138px;
	width:123px;
	float:right
}

.zhuanJi_list a
{
	display:block;
}

.zhuanJi_list1,.zhuanJi_list2,.zhuanJi_list3
{
	border:1px solid #5E3826;
	height:44px;
	text-align:center;
	line-height:44px;
	font-size:16px;
	font-weight:bold;
}

.zhuanJi_xia
{
	/*border:1px solid #5E3826;*/
}

.boFang_list
{
	font-size:20px;
	padding:26px 8px;
	width:240px;
	float:left
}

.boFang_list li
{
	margin-top:10px
}

.boFang_coin
{
	padding:23px 8px;
	width:60px;
	float:right
}

.boFang_coin li
{
	margin-top:17px;
	position:relative
}

.boFang_coin div
{
	position:absolute;
	top:0
}

.boFang_coin p
{
	position:absolute;
	top:0
}


/***********************电影************************/

.zhong
{
	height:182px
}

.movie_Box
{
	
}

.movie_Box p
{
	height:40px;
	border-left:4px solid #bd4601;
	/*border-top:1px solid #333;*/
	background:#cfcfcf;
	color:#292929;
	text-align:center;
	line-height:40px;
	font-size:17px;
	cursor:pointer
}

.movie_Box div
{
	height:315px;
}

/***********************bottom************************/


.bottom_Box
{
	position:relative;
	left:50%;
	margin-left:-995px;
	width:1990px;
	height:440px;
	background:url(../img/bottom.jpg);
}

.bottom
{
	width:293px;
	margin:auto;
	padding-top:60px;
	color:#cfcfcf;
	font-size:18px;
	text-align:center;
	line-height:40px
}

.bottom img
{
	margin-bottom:30px
}

.copyR
{
	font-size:14px;
}







